.container {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  background: whitesmoke;
}
.card {
  position: fixed;
  top: 74px;
  width: 300px;
  z-index: 2;
  padding: 5px 5%;
  background: linear-gradient(315deg, #dbdbdbe5, #f3f3f3);
  margin: 0 auto;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  text-align: center;
  left: calc(45% - 150px);
}
.categoryDropdown {
  border-radius: 4px 4px 0 0;
  width: 94%;
  margin-left: 5%;
  background: whitesmoke;
}
.categoryDropdown li {
  line-height: 25px;
  font-size: 12px;
}
.categoryDropdown > li {
  position: relative;
}
.categoryDropdown > li > label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryDropdown > li > label > img {
  height: 20px;
  margin-right: 10px;
}
.categoryDropdown > li > ul {
  z-index: 5;
  width: 100%;
  position: absolute;
  background: rgb(149, 134, 134);
  color: white;
  left: 0;
}
.categoryDropdown > li > ul > li {
  padding: 5px 5px 2px 10px;
  display: flex;
  justify-content: space-between;
}
.categoryDropdown > li > ul > li > img {
  height: 20px;
  float: left;
}
select > option {
  position: relative;
}
select > option > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
}
.itemControls {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
}
.itemControls > textarea {
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 5px;
  font-family: Roboto;
  font-size: 12px;
  resize: none;
}
.listContainer {
  width: 100%;
  align-items: center;
  margin-top: 300px;
  position: relative;
}
.input {
  width: 90%;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 5%;
  border: none;
  padding: 5px;
}
.greenCard {
  position: relative;
  width: 90%;
  height: 100px;
  margin: 10px 5%;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.greenCard > label {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  display: inherit;
  background: #4bd5ca;
  line-height: 20px;
  border-radius: 0 0 4px 4px;
  color: #373737;
}
.itemName {
  float: left;
  padding: 10px;
  margin-right: 20px;
}
.itemPrice {
  padding: 10px;
  float: right;
  color: #237291;
}
.categoryName {
  padding: 2px 10px;
  color: grey;
  font-size: 14px;
}
.categoryName > u {
  color: grey;
}
.parentDataContainer {
  width: 100%;
  float: left;
  display: flex;
}
.itemImage {
  width: 100%;
}
.itemImageContainer {
  width: 100px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  border: grey 2px dashed;
  margin: 5px;
}
.itemImageInstructions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.basicDataContainer {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1;
}
.textContainers > section {
  display: flex;
}
.textContainers > section > img {
  width: 50px;
  padding: 5px;
}
.textContainers {
  display: flex;
  justify-content: space-between;
}
.controlItem {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.controlItemLabel {
  font-size: 10px;
}
.imageSelectorContainer {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 5px 10px;
  background: #169188;
  border: none;
  margin: 5px 0;
  color: whitesmoke;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.buttonButtomContainer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
}
.navigation {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  background: #404040;
  z-index: 3;
  color: whitesmoke;
  left: calc(50% - 150px);
}
.navigation li {
  line-height: 30px;
  font-size: 0.8em;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.addCategoryBtn {
  position: absolute;
  bottom: -10px;
  background: #169188;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.finalCategoryBtn {
  position: absolute;
  bottom: -10px;
  right: -103%;
  background: #fff;
  color: #22a65c;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categoryEntryInput {
  position: absolute;
  top: 80px;
  border: #169188 2px solid;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 8px;
}
.categoryContainer ul {
  width: 100%;
}
.categoryContainer ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 25px;
  font-size: 0.9em;
}
.categoryChangeArea {
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryChangeArea > img {
  width: 14px;
  height: 14px;
}
