.card {
  position: relative;
  max-width: 300px;
  width: 90%;
  height: 70vh;
  overflow: scroll;
  padding: 5px 10px;
  background: linear-gradient(315deg, #ffffff, #e9e9e9);
  margin: 60px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.cardContainer {
  text-align: center;
}
.errMsg {
  font-size: 0.8em;
  color: #169188;
  line-height: 30px;
}
.detailsContainer {
  display: flex;
  height: max-content;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 10px;
  align-items: center;
}
.detailsLabels {
  float: left;
  text-align: left;
  font-size: 12px;
  margin: 5px;
}
.input {
  border: none;
  background: white;
  font-size: 16px;
  float: left;
  padding: 5px;
  width: max-content;
  border-radius: 0;
  margin-bottom: 10px;
  color: #169188;
  font-size: 0.9em;
  border-bottom: #cacaca 1px solid;
  text-align: center;
}
.button {
  width: 220px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background: #169188;
  color: white;
  box-shadow: 1px 1px 5px 0px rgba(142, 142, 142, 0.51);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.button:hover {
  cursor: pointer;
}
.editAttributeButton {
  padding: 5px 5px 0 5px;
}
.editAttributeButton:hover {
  cursor: pointer;
}
