.container {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  background: whitesmoke;
}
.card {
  position: fixed;
  max-width: 300px;
  width: 90%;
  z-index: 2;
  padding: 5px 5%;
  background: linear-gradient(315deg, #dbdbdb, #f3f3f3);
  margin: 10px auto;
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  text-align: center;
}
.input {
  width: 90%;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 5%;
  border: none;
  padding: 5px;
}
.itemControls {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* flex: 1; */
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.listContainer {
  width: 100%;
  align-items: center;
  position: relative;
  margin-top: 180px;
}
.greenCard {
  position: relative;
  width: 90%;
  height: 80px;
  margin: 10px 5%;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.itemName {
  padding: 10px;
  margin-right: 20px;
}
.itemPrice {
  padding: 10px;
  float: right;
}
.textContainers {
  display: flex;
  justify-content: space-between;
}
.controlItem{
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.controlItemLabel{
  font-size: 10px;
}