.container {
  overflow: hidden;
  position: relative;
  float: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  -ms-flex-direction: column;
  background: whitesmoke;
}
.input {
  width: 90%;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 5%;
  border: none;
  padding: 5px;
}
.itemControls {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
}
.listContainer {
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}
.greenCard {
  position: relative;
  width: 90%;
  height: 80px;
  margin: 10px 5%;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.itemName {
  padding: 10px;
  margin-right: 20px;
}
.itemPrice {
  padding: 10px;
  float: right;
}
.textContainers {
  display: flex;
  justify-content: space-between;
}
