.container {
  float: left;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  text-align: center;
  background: whitesmoke;
}
.orgName {
  color: #169188;
  text-align: center;
  margin: 20px 0;
}
.menuNav {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
}
.menuNav > ul {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
.menuNav > ul > li {
  min-width: 50px;
  width: max-content;
  float: left;
  padding: 5px;
  border-right: grey 1px dashed;
  color: #169188;
  cursor: pointer;
}
.listContainer {
  width: 100%;
  float: left;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}
.categoryTopic {
  float: left;
  margin: 10px 5%;
  z-index: 5;
  text-align: left;
}
.message {
  padding: 5px;
  width: 80%;
}
.greenCard {
  position: relative;
  width: 90%;
  height: 80px;
  margin: 10px 5%;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.textContainers {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.itemControls {
  width: 100%;
  float: left;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
}
.quantityText {
  margin: 0 5px;
}
.orderListContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  background: whitesmoke;
}
.orderListTopShow {
  width: 100%;
  float: left;
  position: relative;
}
.orderListPuller {
  width: 100%;
  float: left;
  background: #169188;
  border-bottom: seagreen 1px solid;
}
.OrderItemControls {
  margin: 0 10px;
  float: right;
}
.quantityText {
  margin: 0 5px;
}
.orderedQuantity {
  color: grey;
  font-size: 14px;
  margin: 0 10px;
}
.confirmSection {
  width: 90%;
  float: left;
  background: whitesmoke;
  padding: 10px 5%;
  display: flex;
  justify-content: center;
}
.confirmButton {
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background: crimson;
  color: whitesmoke;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
