.backLayout {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.37);
  z-index: 3;
  display: none;
}
.liveMenuContainer {
  width: 100%;
}
.container {
  float: left;
  width: 100%;
  height: max-content;
  background: transparent;
  text-align: center;
}
.orgName {
  color: #169188;
  text-align: center;
  margin: 20px 0;
}
.menuNav {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
}
.menuNav > ul {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
.menuNav > ul > li {
  min-width: 50px;
  width: max-content;
  float: left;
  padding: 5px;
  border-right: grey 1px dashed;
  color: #169188;
  cursor: pointer;
}
.listContainer {
  width: 100%;
  float: left;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
}
.categoryTopic {
  float: left;
  margin: 10px 5%;
  text-align: left;
}
.message {
  padding: 5px;
  width: 80%;
}
.greenCard {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 80px;
  margin: 10px 5%;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.textContainers {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.itemControls {
  width: 100%;
  float: left;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
}
.quantityText {
  margin: 0 5px;
}
.orderListContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
}
.orderListTopShow {
  width: 100%;
  float: left;
  position: relative;
}
.orderListPuller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  padding: 0 2%;
  line-height: 25px;
  float: left;
  background: #169188;
  color: whitesmoke;
  border-bottom: seagreen 1px solid;
}
.orderListPuller label {
  font-size: 0.8em;
}
.orderListPuller button {
  background: rgb(88, 88, 88);
  border-radius: 8px;
  border: none;
  height: 20px;
  text-transform: uppercase;
  color: whitesmoke;
}
.OrderItemControls {
  margin: 0 10px;
  float: right;
}
.quantityText {
  margin: 0 5px;
}
.orderedQuantity {
  color: grey;
  font-size: 14px;
  margin: 0 10px;
}
.confirmSection {
  width: 90%;
  float: left;
  background: whitesmoke;
  padding: 10px 5%;
  display: flex;
  justify-content: center;
}
.confirmButton {
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background: crimson;
  color: whitesmoke;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.furtherDetailsContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}
.itemsContainer {
  position: relative;
  width: 100%;
  display: flex;
  margin: 20px 0;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.itemsContainer::-webkit-scrollbar {
  display: none;
}
.item {
  position: relative;
  min-width: 130px;
  height: 160px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 60px 10px;
  background: white;
  -webkit-box-shadow: 0 6px 13px 0px #e6e6e6;
  -moz-box-shadow: 0 6px 13px 0px #e6e6e6;
  box-shadow: 0 6px 13px 0px #e6e6e6;
}
.item img {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -50px;
  overflow: hidden;
}
.item .itemName {
  margin: 10px 10px 0 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.item .itemDescription {
  margin: 0 10px;
  font-size: 0.7em;
}
.item .itemPrice {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
.item .itemOrderToggle {
  position: absolute;
  padding: 0 5px;
  bottom: 7px;
  right: 10px;
  width: 30px;
  height: 12px;
  border-radius: 8px;
  color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.filterPanel {
  opacity: 0;
  width: 160px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
  border-radius: 10px;
  z-index: 4;
  text-align: left;
  padding: 10px;
}
.filterPanel section {
  margin: 8px 0;
}
.filterPanel label {
  text-transform: uppercase;
}
.liveMenuSearchPanel {
  position: relative;
  width: 80%;
  float: left;
  margin: 0 10%;
}
.liveMenuSearchPanel h1 {
  text-transform: uppercase;
  font-size: 1.4em;
  float: left;
}
.liveMenuSearchPanel input {
  width: 95%;
  margin-top: 5px;
  float: left;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  padding: 3px 0 3px 18px;
  border-radius: 0;
}
.liveMenuSearchPanel .liveMenuFilter {
  position: relative;
  float: right;
  background: black;
  color: white;
  padding: 2px 5px;
  border-radius: 8px;
  font-size: 0.8em;
  margin-top: 2px;
}
.categoryContainer {
  width: max-content;
  position: absolute;
  right: 0;
  bottom: -80px;
  text-align: center;
  padding: 5px;
  background: whitesmoke;
  -webkit-box-shadow: 0 6px 13px 0px #e6e6e6;
  -moz-box-shadow: 0 6px 13px 0px #e6e6e6;
  box-shadow: 0 6px 13px 0px #e6e6e6;
  color: grey;
}
.categoryContainer hr {
  border: none;
  border-bottom: 1px solid grey;
  margin: 3px 0;
}
.orderListBottomPanel {
  width: 98%;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 2%;
  position: fixed;
  bottom: 0;
  background: #169188;
  color: whitesmoke;
}
.orderListBottomPanel label {
  font-size: 0.9em;
}
.orderListBottomPanel button {
  background: #585858;
  border-radius: none;
  border: #646464 2px solid;
  height: 100%;
  text-transform: uppercase;
  color: whitesmoke;
  line-height: 30px;
}
.orderListPanelContainer {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: calc(-100vh + 44px);
  width: 100%;
  height: calc(100vh - 44px);
  overflow-y: scroll;
  z-index: 2;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderListPanelContainer > label {
  width: 30px;
  position: absolute;
  top: 10px;
  left: 2%;
}
.orderListPanelTopControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.orderListPanelTopControls > section {
  display: flex;
  align-items: center;
}
.orderListPanelTopControls > section > span:first-of-type {
  background: #169188;
  padding: 3px 8px;
  border-radius: 14px;
  text-transform: uppercase;
  color: whitesmoke;
  margin-right: 5px;
  font-size: 0.8em;
  display: inline-block;
}
.orderListPanelTopControls > section > span:last-of-type {
  display: inline-block;
  background: #4a4a4a;
  border: 2px #777 solid;
  padding-left: 8px;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  margin-right: 10px;
}
.orderListPanelTopControls > section > span:last-of-type > span {
  display: inline-block;
  background: white;
  color: #4a4a4a;
  padding: 4px;
  margin-left: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
.orderListPanelItem {
  position: relative;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  background: white;
  min-height: 50vh;
  margin: 35px 5px 6px 5px;
  text-align: center;
  border-radius: 15px;
  padding: 35px 5px 10px 5px;
  -webkit-box-shadow: 0 2px 6px 0px #e6e6e6;
  -moz-box-shadow: 0 2px 6px 0px #e6e6e6;
  box-shadow: 0 2px 6px 0px #e6e6e6;
}
.orderListPanelItem > img {
  background: whitesmoke;
  margin-top: -65px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.orderListPanelItem > section {
  height: 220px;
  overflow-y: scroll;
}
.orderListPanelItem > section > section:first-of-type > span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: thin grey solid;
  border-radius: 50%;
  margin: 10px 5px 0 5px;
  color: #169188;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 24px;
}
.orderListPanelItem > section > section:first-of-type > label {
  font-size: 1.1em;
  font-weight: bold;
}
.orderListPanelItem > section > h4 {
  text-transform: uppercase;
  margin-top: 10px;
}
.orderListPanelItem > section > section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.orderListPanelItem > section > section:nth-of-type(2) > span {
  width: 60px;
  font-size: 0.7em;
  border-radius: 15px;
  margin: 0 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderListPanelItem > section > section:nth-of-type(2) > span:first-of-type {
  background: rgb(199, 199, 199);
}
.orderListPanelItem > section > section:nth-of-type(2) > span:nth-of-type(2) {
  background: rgb(12, 184, 12);
  display: block;
  color: whitesmoke;
  text-transform: uppercase;
}
.orderListPanelItem > section > section:nth-of-type(2) > span:nth-of-type(3) {
  background: rgb(199, 199, 199);
}
.orderListPanelItem > section > section:nth-of-type(3) {
  display: flex;
  justify-content: center;
}
.orderListPanelItem > section > section:nth-of-type(3) > input {
  margin: 0 10px;
  border: none;
  border-bottom: 2px #169188 solid;
  border-radius: 0;
}
.orderListPanelItem > section > span {
  display: inline-flex;
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  align-items: center;
}
.orderListPanelItem > section > span > svg {
  margin-right: 2px;
}
.orderListPanelItem > section > p {
  text-align: left;
  margin: 10px 15% 10px 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.orderListPanelItem > button {
  width: 90%;
  background: #169188;
  border-radius: none;
  border: 2px grey solid;
  text-transform: uppercase;
  color: whitesmoke;
  line-height: 20px;
  margin-top: 10px;
}
@media screen and (min-height: 560px) {
  .orderListPanelItem > button {
    position: absolute;
    bottom: 15px;
  }
}
