.backLayout {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.37);
  z-index: 3;
  display: none;
}
.container {
  float: left;
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  text-align: center;
}
.orgName {
  color: #169188;
  text-align: center;
  margin: 20px 0;
}
.menuNav {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
}
.menuNav > ul {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
.menuNav > ul > li {
  min-width: 50px;
  width: max-content;
  float: left;
  padding: 5px;
  border-right: grey 1px dashed;
  color: #169188;
  cursor: pointer;
}
.listContainer {
  width: 100%;
  float: left;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
}
.categoryTopic {
  float: left;
  margin: 10px 5%;
  text-align: left;
}
.message {
  padding: 5px;
  width: 80%;
}
.greenCard {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 80px;
  margin: 10px 5%;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.textContainers {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.itemControls {
  width: 100%;
  float: left;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
}
.quantityText {
  margin: 0 5px;
}
.orderListContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
}
.orderListTopShow {
  width: 100%;
  float: left;
  position: relative;
}
.orderListPuller {
  width: 100%;
  float: left;
  background: #169188;
  border-bottom: seagreen 1px solid;
}
.OrderItemControls {
  margin: 0 10px;
  float: right;
}
.quantityText {
  margin: 0 5px;
}
.orderedQuantity {
  color: grey;
  font-size: 14px;
  margin: 0 10px;
}
.confirmSection {
  width: 90%;
  float: left;
  background: whitesmoke;
  padding: 10px 5%;
  display: flex;
  justify-content: center;
}
.confirmButton {
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background: crimson;
  color: whitesmoke;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.furtherDetailsContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}
.itemsContainer {
  position: relative;
  width: 100%;
  display: flex;
  margin: 20px 0;
  overflow-x: scroll;
}
.item {
  position: relative;
  width: 130px;
  height: 160px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 60px 12px;
  background: white;
  -webkit-box-shadow: 0 6px 13px 0px #e6e6e6;
  -moz-box-shadow: 0 6px 13px 0px #e6e6e6;
  box-shadow: 0 6px 13px 0px #e6e6e6;
}
.item img {
  width: 110px;
  height: 110px;
  background: black;
  position: absolute;
  top: -50px;
  border-radius: 50%;
  overflow: hidden;
}
.item .itemName {
  margin: 10px 10px 0 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.item .itemDescription {
  margin: 0 10px;
  font-size: 0.7em;
}
.item .itemPrice {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
.item .itemOrderToggle {
  position: absolute;
  padding: 0 5px;
  bottom: 7px;
  right: 10px;
  width: 30px;
  height: 12px;
  border-radius: 8px;
  color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.filterPanel {
  opacity: 0;
  min-width: 50%;
  max-width: 80%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -140px);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
  border-radius: 10px;
  z-index: 4;
  text-align: left;
  padding: 10px;
}
.filterPanel section {
  margin: 8px 0;
}
.filterPanel label {
  text-transform: uppercase;
}
.liveMenuSearchPanel {
  position: relative;
  width: 80%;
  float: left;
  padding: 0 10%;
}
.liveMenuSearchPanel h1 {
  text-transform: uppercase;
  font-size: 1.4em;
  float: left;
}
.liveMenuSearchPanel input {
  width: 100%;
  margin-top: 5px;
  float: left;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  padding: 3px 0 3px 20px;
}
.liveMenuSearchPanel .liveMenuFilter {
  position: relative;
  float: right;
  background: black;
  color: white;
  padding: 2px 5px;
  border-radius: 8px;
  font-size: 0.8em;
  margin-top: 2px;
}
.categoryContainer {
  width: max-content;
  position: absolute;
  right: 0;
  bottom: -80px;
  text-align: center;
  padding: 5px;
  background: whitesmoke;
  -webkit-box-shadow: 0 6px 13px 0px #e6e6e6;
  -moz-box-shadow: 0 6px 13px 0px #e6e6e6;
  box-shadow: 0 6px 13px 0px #e6e6e6;
  color: grey;
}
.categoryContainer hr {
  border: none;
  border-bottom: 1px solid grey;
  margin: 3px 0;
}
