.container {
  width: 90%;
  height: 300px;
  position: fixed;
  bottom: 0;
  background: whitesmoke;
  -webkit-box-shadow: 0 4px 13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 13px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 13px 0px rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  border-radius: 20px 20px 0 0;
  padding: 15px 5%;
}
.container h4 {
  text-transform: uppercase;
}
.container p {
  margin: 5px 0;
  color: rgb(51, 51, 51);
}
.infoDetails {
  margin: 10px 0;
}
.infoDetails li {
  float: left;
  width: 50px;
}
.additionalDetailsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}
.additionalDetailsContainer li {
  width: 150px;
}
