.logoContainer {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px whitesmoke solid;
  overflow: hidden;
  margin-top: -150px;
  background: #16918979;
  z-index: 2;
}
.logoContainer img{
  width: 100%;
}
.logoText {
  font-size: 2.4em;
  color: whitesmoke;
  text-transform: uppercase;
}