.socialLinksContainer {
  width: 100%;
  position: fixed;
  bottom: -60px;
  border-radius: 20px 20px 0 0;
  background: whitesmoke;
  -webkit-box-shadow: 0 4px 13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 13px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 13px 0px rgba(0, 0, 0, 0.75);
}
.socialLinksContainer ul {
  width: 100%;
}
.socialLinksContainer ul li {
  width: 20%;
  text-align: center;
  float: left;
  line-height: 50px;
}
.socialLinksContainer ul li span{
  opacity: 0;
  position: absolute;
  right: 20px;
  top: -25px;
  background: black;
  color: whitesmoke;
  line-height: 15px;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 0.8em;
}