/*********** Base CSS Starts Here ************/
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Open Sans';
  }
  
  header,
  figure,
  nav,
  aside,
  section,
  article,
  footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  ul,
  li,
  input,
  textarea,
  select,
  p,
  iframe,
  pre,
  form,
  canvas,
  input {
    margin: 0px;
    padding: 0px;
    outline: none;
  }
  
  .clear {
    clear: both;
  }
  
  .block {
    display: block;
  }
  
  ul {
    list-style-type: none;
    display: block;
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  .row {
    float: left;
    width: 100%;
    height: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .text-nowrap {
    white-space: nowrap;
  }
  
  .text-lowercase {
    text-transform: lowercase;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    float: left;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .col-11 {
    width: 91.66666667%;
  }
  
  .col-10 {
    width: 83.33333333%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-8 {
    width: 66.66666667%;
  }
  
  .col-7 {
    width: 58.33333333%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-5 {
    width: 41.66666667%;
  }
  
  .col-4 {
    width: 33.33333333%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-2 {
    width: 16.66666667%;
  }
  
  .col-1 {
    width: 8.33333333%;
  }
  
  .container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .tooltip {
    display: none;
  }
  
  /*********** Base CSS Ends Here ************/