@font-face {
font-family: 'Cover Sans Regular';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Regular'), url('coversans-regular.WOFF') format('woff');
}


@font-face {
font-family: 'Cover Sans Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Regular Italic'), url('coversans-regularitalic.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Light';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Light'), url('coversans-light.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Light Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Light Italic'), url('coversans-lightitalic.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Thin';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Thin'), url('coversans-thin.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Thin Italic'), url('coversans-thinitalic.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Medium';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Medium'), url('coversans-medium.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Medium Italic'), url('coversans-mediumitalic.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Semi Bold';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Semi Bold'), url('coversans-semibold.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Semi Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Semi Bold Italic'), url('coversans-semibolditalic.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Bold';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Bold'), url('coversans-bold.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Bold Italic'), url('coversans-bolditalic.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Heavy';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Heavy'), url('coversans-heavy.WOFF') format('WOFF');
}


@font-face {
font-family: 'Cover Sans Heavy Italic';
font-style: normal;
font-weight: normal;
src: local('Cover Sans Heavy Italic'), url('coversans-heavyitalic.WOFF') format('WOFF');
}