.container {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding: 50px 0;
  background: rgba(235, 231, 231, 0.5);
}
.topic{
  text-align: left;
  margin: 10px 5%;
  font-size: 1.4em;
}
.desc{
  text-align: left;
  margin: 10px 5%;
}
.stepsContainer {
  display: flex;
  width: 90%;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 40px auto;
}
.stepsHolder {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  text-align: center;
}
.stepImage {
  width: 100%;
  margin: 10px auto 0 auto;
}
.hswImages{
  width: 100%;
}
.stepsContent{
  max-width: 80%;
  text-align: center;
  margin: 20px auto;
}

@media screen and (min-width: 680px) {
  .stepsContainer {
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-around;
  }
  .stepsHolder{
      width: 33.33%;
  }
  .topic{
    font-size: 1.6em;
    margin-left: 5%;
  }
  .desc{
    margin-left: 5%;
  }
}
