.container {
  width: 100%;
  min-height: 100vh;
  float: left;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  background: whitesmoke;
}
.topic {
  color: #169188;
  margin: 10px 0;
}
.desc {
  width: 80%;
  margin: 5px auto;
  line-height: 30px;
}
.qrGridContainer {
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: 50% 50%;
}
.qrGridItemHolder {
  width: 50%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card {
  position: relative;
  width: max-content;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 5px 10px;
  background: linear-gradient(315deg, #ffffff, #91f8f1);
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  text-align: center;
  margin: 10px auto;
}
.downloadLink {
  color: grey;
  cursor: pointer;
  margin: 10px 0;
}
canvas{
  background-image: url('../../images/sticker.png');
}
@media screen and (min-width: 992px){
  .qrGridContainer {
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px){
  .qrGridContainer {
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}