.bannerContainer {
  width: 100%;
  float: left;
  position: relative;
}
.searchContainer {
  position: relative;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  margin-top: 32vw;
}
.searchBarContainer {
  width: 70%;
  max-width: 500px;
  position: relative;
  display: flex;
  align-items: center;
}
.searchBar {
  width: 100%;
  position: relative;
  padding: 10px 30px 10px 10px;
  border: none;
  border-radius: 8px;
  font-size: 0.8em;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.9);
}
.searchIcon {
  position: absolute;
  right: 0;
  margin: 0 10px;
}
.selectsContainer {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  margin-top: 8vw;
}
.selectsHolder {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  background: #169188;
}
.selectsHolder img {
  height: 100%;
}
.searchResultContainer {
  width: 100%;
  float: left;
  margin-top: 30px;
  display: grid;
  /* grid-template-columns: auto auto auto; */
}
.searchItemHolder {
  width: max-content;
  height: 120px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  border: none;
  margin: 5px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.searchItemHolder img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px grey solid;
}
.searchItemHolder label {
  margin: 0 10px;
}
