.backLayout {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.37);
  z-index: 3;
  display: none;
}
.link {
  color: #169188;
  text-align: center;
}
.banner {
  position: relative;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}
.banner > img {
  width: 100%;
}
.logoContainer {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px whitesmoke solid;
  overflow: hidden;
  margin: -50px 0 0 5%;
  background: #169188;
  z-index: 2;
}
.logoText {
  font-size: 2.4em;
  color: whitesmoke;
  text-transform: uppercase;
}
.liveSpaceContainer {
  position: relative;
  float: right;
  margin-right: 5%;
}
.liveSpaceText {
  color: green;
  font-size: 16px;
}
.liveSpaceNumber {
  color: black;
  text-decoration: green underline;
}
.liveMenuContainer {
  float: right;
}
.menuMainText {
  text-transform: uppercase;
  text-decoration: grey underline;
  color: crimson;
}
.liveMenuContainer .menu {
  float: right;
}
.liveMenuContainer .menu > li {
  position: relative;
}
.liveMenuContainer .menu > li:hover .subMenu {
  width: 100px;
  display: block;
  background: white;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.liveMenuContainer .subMenu {
  position: absolute;
  right: 0;
  display: none;
  background: white;
  padding: 5px;
  border-radius: 10px;
}
.liveMenuContainer .subMenu li {
  color: grey;
}
.liveMenuContainer .subMenu li:hover {
  color: black;
}
.businessLocation {
  float: left;
  width: 90%;
  margin: 20px 5%;
}
.topic {
  font-size: 16px;
  font-weight: bold;
}
.businessDescription {
  float: left;
  width: 90%;
  margin: 20px 5%;
}
.fullDescription {
  clear: both;
  width: 100%;
  float: left;
  margin: 20px 0;
}
.ourDealsContainer {
  clear: both;
  width: 100%;
  float: left;
}
.headerTopic {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}
.ourDeals {
  width: 100%;
  float: left;
  margin: 20px 0;
}
.cardContainer {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.cardContainer image {
  width: 100%;
}
.cardContainer .hearts {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding: 5px;
  border-bottom-left-radius: 10px;
}
.cardContainer .layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.cardContainer:hover .layover {
  display: none;
}
.cardContainer * {
  outline: none;
}
.bulkOrders {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}
.bulkOrders .input {
  clear: both;
  border-radius: 6px;
  border: none;
  border: grey 1px dashed;
  padding: 5px;
  font-size: 14px;
  margin: 10px 5%;
  float: left;
}
.bulkOrders .button {
  clear: both;
  padding: 6px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background: crimson;
  color: whitesmoke;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100px;
  margin: 10px 5%;
}
.socialLinksContainer {
  width: 100%;
  clear: both;
  margin: 80px 0 20px 0;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialTextInput {
  border: grey 2px dashed;
  padding: 5px;
  color: #169188;
  font-size: 0.6em;
}
.socialLinksContainer a {
  width: 90%;
  margin: 10px 5%;
  border: grey 1px dashed;
}
.shareLink {
  color: #169188;
}
.shareText {
  font-size: 12px;
}
.editHolder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.editDpHolder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: whitesmoke;
  z-index: 2;
  position: relative;
  transform: translate(-25px, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.orgRate {
  margin: 10px 0;
}
.orgTitle {
  clear: both;
  text-align: center;
  margin: 10px 0;
  font-size: 1.4em;
}
.orgTitle h1 {
  margin: -5px auto -5px auto;
  max-width: 240px;
  font-size: 20px;
  text-transform: uppercase;
}
.openTimes {
  font-size: 0.7em;
}
.openTimes label {
  color: rgb(53, 53, 53);
}
.timingPanel {
  opacity: 0;
  min-width: 200px;
  max-width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
  border-radius: 5px;
  z-index: 4;
  text-align: center;
  padding: 5px;
}
.timingPanel label {
  width: 100%;
  float: left;
  font-size: 0.7em;
  text-align: center;
  clear: both;
}
.timingPanel h5 {
  font-size: 0.7em;
  margin: 10px 0;
}
.servicesProvided {
  background: #169188;
  border-radius: 5px;
  margin-top: 8px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.servicesProvided li {
  padding: 4px 6px;
  color: whitesmoke;
}
.shareListContainer {
  float: right;
  margin: 0 20px;
}
.shareListContainer li {
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.shareSubListContainer {
  position: absolute;
  top: 35px;
}
.shareSubListContainer li {
  margin: 5px 0;
}
.reviewContainer {
  width: 100%;
  float: left;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviewHolder {
  width: 300px;
  margin: 30px 0;
  border: grey 2px dashed;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelTopic {
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
}
.starsContainer {
  margin: 6px 0;
}
.textAreaInput {
  margin: 0 0 10px 0;
  border: grey 1px dashed;
}
.tabs {
  width: 100%;
  overflow-x: scroll;
  margin: 20px 0;
}
.tabs ul {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tabs ul::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 360px) {
  .tabs ul {
    justify-content: center;
  }
}
.tabs ul li {
  position: relative;
  min-width: 45px;
  height: 70px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 20px 6px;
  background: white;
  -webkit-box-shadow: 0 6px 13px 0px #e6e6e6;
  -moz-box-shadow: 0 6px 13px 0px #e6e6e6;
  box-shadow: 0 6px 13px 0px #e6e6e6;
}
.tabs ul li img {
  margin-top: -10px;
  width: 25px;
}
.tabs ul li label {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.4em;
  text-transform: uppercase;
}
.tabs ul li:first-of-type {
  background: rgb(231, 231, 231);
}
.tabs ul li:first-of-type label {
  /* color: rgb(230, 227, 197); */
}
.tabs ul li:hover {
  scale: 1.1;
}
.gridCategory{
  width: 90%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin: 20px 5%;
}
.gridCategory>section{
  position: relative;
  width: 100px;
  height: 100px;
  background: grey;
  padding: 10px;
  margin: 8px 10px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.gridCategory>section>img{
  width: 70%;
}
.gridCategory>section>label{
  position: absolute;
  bottom: 5px;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 0.8em;
}