.container {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
}
.card {
  position: relative;
  max-width: 300px;
  width: 90%;
  padding: 5px 10px;
  background: linear-gradient(315deg, #ffffff, #e9e9e9);
  margin: 10px auto;
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
}
.cardContainer {
  text-align: center;
}
.buttonJoinUs {
  width: 60%;
  font-size: 1.1em;
  margin: 10px 0;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background: darkorange;
  color: white;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(255, 140, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(255, 140, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(255, 140, 0, 0.75);
  cursor: pointer;
}
.userDetailsTable tr{
    width: 100%;
    display: flex;
}
.userDetailsTable tr td:first-of-type{
    font-weight: bold;
}
.userDetailsTable tr td{
    margin: 0 5px;
}