.container {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  position: relative;
}
.absoluteContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 44px;
  left: 100%;
  z-index: 2;
  background: rgb(253, 253, 253);
  overflow-y: scroll;
}
.detailsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.detailsLabels {
  float: left;
  text-align: left;
  font-size: 12px;
  margin: 5px;
  display: none;
}
.input {
  border: none;
  border-bottom: grey 2px dashed;
  background: white;
  font-size: 16px;
  float: left;
  padding: 5px;
  width: max-content;
  margin-bottom: 10px;
}
.button {
  border: thistle 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.button:hover {
  cursor: pointer;
}
.logoutButton{
  border: none;
  background: #169188;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 1em;
  color: whitesmoke;
  margin-top: 40px;
}
.pheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: #b7b7b7 5px solid;
}
.pheader > section {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  margin-left: 10px;
}
.pheader > h1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.8em;
  background: #169188;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: white;
}
.pheader > section > h5{
  letter-spacing: 0.5px;
  font-weight: 400;
}
.pheader > section > label {
  font-size: 0.7em;
  color: grey;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.userControlsContainer {
  width: 100%;
}
.userControlsContainer > li {
  border-bottom: 1px #d0d0d0 solid;
  line-height: 35px;
  margin: 0 5px;
  font-size: 0.8em;
  border-radius: 0;
}
.backarrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.backarrow > img {
  width: 16px;
}