.homeContainer {
  width: 100%;
  background: transparent;
  text-align: center;
  margin-top: 60px;
  text-align: center;
}

.contentTopic {
  margin: 20px 0;
  color: #169188;
  text-align: center;
}

.activeOptionButton {
  margin: 5px 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: #169188;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.activeOptionButton:hover {
  background: #31c4ba;
}
.layoutName {
  text-decoration: underline;
  color: #169188;
}

.qrCodeSection {
  width: max-content;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
}
.card {
  position: relative;
  max-width: 300px;
  padding: 5px 10px;
  background: linear-gradient(315deg, #ffffff, #91f8f1);
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  text-align: center;
  margin: 0 10px;
}
.activeLayoutController {
  width: 100%;
  display: flex;
  justify-content: center;
}
.layoutControllerContainer {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  margin: 0 10px;
}
.threeStepText{
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  color: indianred;
  letter-spacing: 1px;
}