.container {
  width: 100%;
  float: left;
  background: #169188;
}
hr {
  margin: 0;
}
.container > section {
  display: flex;
  padding: 5px 5%;
  justify-content: center;
}
.container > section > label {
  color: whitesmoke;
  font-size: 0.9em;
  line-height: 25px;
}
.logo {
  width: 50px;
}
.footer2 > ul {
  display: grid;
  width: 100%;
  float: left;
  grid-template-columns: auto auto auto auto;
}
.footer2 > ul > li {
  max-width: 90%;
  text-align: center;
}
.footer2 > ul > li > a {
  color: whitesmoke;
  line-height: 25px;
  max-width: 25%;
  font-size: 0.9em;
}
@media screen and (min-width: 992px) {
  .footer2 > ul {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
