.head {
  position: fixed;
  width: 96%;
  background: rgba(0, 0, 0, 0.75);
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 2%;
  justify-content: space-between;
  z-index: 10;
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  cursor: pointer;
  margin-top: 2px;
}

.loginButton {
  width: auto;
  background: rgba(0, 0, 0, 0.34);
  border-radius: 18px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.loginButton label{
  cursor: pointer;
}

.headerRightContainer {
  display: flex;
}
.dropDownParent:hover ul{
  display: block !important;
}

.headerRightContainer>li{
  line-height: 44px;
  float: left;
  margin: 0 5px;
  font-size: 16;
  color: whitesmoke;
  position: relative;
  cursor: pointer;
}
.headerRightContainer li a{
  color: whitesmoke;
  cursor: pointer;
}