.container{
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  height: auto;
  float: left;
  scrollbar-width: none;
}

.main{
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  float: left;
  margin-top: 44px;
  scrollbar-width: none;
}