.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background: #169188;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic{
    color: whitesmoke;
    font-size: 40px;
}