.container {
  position: fixed;
  width: 90%;
  height: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  background: #169188;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  border-radius: 5px;
}
u{
  color: whitesmoke;
}
.topic {
  color: whitesmoke;
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.desc {
  width: 80%;
  margin: 5px auto;
  line-height: 30px;
}
.qrGridContainer {
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: 50% 50%;
}
.qrGridItemHolder {
  width: 50%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card {
  position: relative;
  width: max-content;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 5px 10px;
  background: linear-gradient(315deg, #ffffff, #91f8f1);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 10px auto;
}
.downloadLink {
  color: grey;
  cursor: pointer;
  margin: 10px 0;
}
/* canvas{
  background-image: url('../../images/sticker.png');
} */
@media screen and (min-width: 992px){
  .qrGridContainer {
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px){
  .qrGridContainer {
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}