.card {
  position: relative;
  max-width: 300px;
  width: 90%;
  padding: 5px 10px;
  background: linear-gradient(315deg, #dbdbdb, #f3f3f3);
  margin: 10px auto;
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #ffffff;
  text-align: center;
}
