.container {
  width: 90%;
  float: left;
  position: relative;
  z-index: 10;
  background: rgb(231, 231, 231);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  -webkit-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #d3d3d3;
  -moz-box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #d3d3d3;
  box-shadow: -5px -5px 20px #d9d9d9, 7px 7px 20px #d3d3d3;
}
.adminNavigation {
  display: flex;
}
.adminNavigation > li {
  position: relative;
  line-height: 50px;
}
.adminNavigation > li:hover ul {
  display: block;
}
.submenu {
  display: none;
  position: absolute;
  width: max-content;
  padding: 5px 10px;
  background: rgb(240, 240, 240);
  right: 0;
  text-align: right;
  border-radius: 5px;
  -webkit-box-shadow: -5px -5px 5px #ffffff, 7px 7px 5px #d3d3d3;
  -moz-box-shadow: -5px -5px 5px #ffffff, 7px 7px 5px #d3d3d3;
  box-shadow: -5px -5px 5px #ffffff, 7px 7px 5px #d3d3d3;
}
.submenu > li {
  padding: 5px 0;
  cursor: pointer;
  line-height: 30px;
}
.submenu > li:hover {
  color: #169188;
}
.topic{
  color: #169188;
}